<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Aves de Rapina</h2>
      <p> 2020 &nbsp;&nbsp; 18 &nbsp;&nbsp;109min</p>
    </div>
  </div>
<p>

</p>
  <ion-item color="dark">
    <h5>Avaliação dos usuários:</h5>
      <div slot="end" class="c100 p72 small green">
        <span>72%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </ion-item>

  <ion-card>
  <ion-item color="medium">
    <div>
      <h2>Sinopse</h2>
      <p> Arlequina, Canário Negro, Caçadora, Cassandra Cain e a policial Renée Montoya formam um grupo inusitado de heroínas.
      Quando um perigoso criminoso começa a causar destruição em Gotham, as cinco mulheres precisam se unir para defender a cidade.</p>
    </div>
  </ion-item>
</ion-card>

<div class="b">
  <ion-button color="danger" size="medium">Assistir</ion-button>
</div>
</ion-content>
