<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Os Padrinhos Mágicos</h2>
      <p> 2001 &nbsp;&nbsp; Livre &nbsp;&nbsp; 10temp</p>
    </div>
  </div>
  <ion-card>
  <ion-item color="medium">
    <div>
      <h2>Sinopse</h2>
      <p>As interessantes aventuras de um menino de dez anos e seus padrinhos com poderes especiais. Juntos, o grupo provoca um caos mágico. </p>
    </div>
  </ion-item>
</ion-card>

<div class="b">
  <ion-button color="danger" size="medium">Assistir</ion-button>
</div>
</ion-content>