<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Dark</h2>
      <p> 2017 &nbsp;&nbsp; 16 &nbsp;&nbsp;2 temp</p>
    </div>
  </div>
<p>
</p>
  <ion-item color="dark">
    <h5>Avaliação dos usuários:</h5>
      <div slot="end" class="c100 p96 small green">
        <span>96%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </ion-item>
  <p>
  </p>
  <ion-grid class="let">
    <h5>Elenco da série:</h5>
    <ion-row>
      <ion-col class="prim">
        <ion-card>
        <img src="https://i.pinimg.com/736x/da/7e/e2/da7ee28ec6d6093588f44c74337f086f.jpg">
        <p>lisa vicari</p>
      </ion-card>
      </ion-col>
      <ion-col class="prim">
        <ion-card>
        <img src="https://i.pinimg.com/originals/59/42/84/5942846a554e9a788a584226e023b166.jpg">
        <p>L. Hofmann</p>
      </ion-card>
      </ion-col>
      <ion-col class="prim">
        <ion-card>
        <img src="https://vignette.wikia.nocookie.net/dark-netflix/images/6/6d/Maja_Sch%C3%B6ne.png/revision/latest?cb=20180313203537">
        <p>Maja Schöne</p>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="let">
    <ion-row>
      <ion-col class="prim">
        <ion-card>
        <img src="https://i.pinimg.com/originals/ea/8e/f7/ea8ef772cdb73aa963802f2a6d740922.jpg">
        <p>Gina Stiebitz</p>
      </ion-card>
      </ion-col>
      <ion-col class="prim">
        <ion-card>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Andreas_Pietschmann_%28Berlinale_2012%29.jpg">
        <p>Andreas P.</p>
      </ion-card>
      </ion-col>
      <ion-col class="prim">
        <ion-card>
        <img src="https://br.web.img3.acsta.net/r_1280_720/pictures/14/08/22/10/35/139790.jpg">
        <p>Jordis Triebel</p>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="b">
    <ion-button color="danger" size="medium">Assistir</ion-button>
  </div>
  
</ion-content>