<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Vis a vis</h2>
      <p> 2015 &nbsp;&nbsp; 18 &nbsp;&nbsp; 4 temporadas</p>
      <ion-button color="danger" size="small">Assistir</ion-button>
      <ion-button fill="outline" color="light" size= "small"> Episódios</ion-button>
    </div>
  </div>

  <ion-grid>
    <h1>Populares</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/A50Ngq9lh9aCTGHC6kttrppHNoF.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/89QTZmn34iwXYeCpVxhC9UrT8sX.jpg">
      </ion-col>
    </ion-row>

    <h1>Em cartaz</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zEae3Y5gB7e8Z3LZWsMWZcrsf92.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/okaAPDmZdIfmE1I5DFxo6iHG5IR.jpg">
      </ion-col>
    </ion-row>


  <h1>Próximas estreias</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/mDYG6e2ycBoG8YzSz1nW28t2Gxe.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/mMV1s4zuJSHCrkuhZQJLaHbOwEy.jpg">
      </ion-col>
    </ion-row>

    <h1>Mais bem avaliados</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/igw938inb6Fy0YVcwIyxQ7Lu5FO.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/iGZX91hIqM9Uu0KGhd4MUaJ0Rtm.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
