<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list>
 
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/simp.jpg">
    </ion-thumbnail>
    <ion-label>
      Os Simpsons 
    </ion-label>

    <div slot="end" class="c100 p94 small green">
      <span>94%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/mag.jpg">
    </ion-thumbnail>
    <ion-label>
      Os Padrinhos Mágicos
    </ion-label>

    <div slot="end" class="c100 p93 small green">
      <span>93%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/bob.jpg">
    </ion-thumbnail>
    <ion-label>
      Bob Esponja
    </ion-label>

    <div slot="end" class="c100 p92 small green">
      <span>92%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/meninas.jpg">
    </ion-thumbnail>
    <ion-label>
      As Meninas Superpoderosas
    </ion-label>

    <div slot="end" class="c100 p91 small green">
      <span>91%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>


  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/espias.jpg">
    </ion-thumbnail>
    <ion-label>
      Três Espiãs Demais
    </ion-label>

    <div slot="end" class="c100 p65 small orange">
      <span>65%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>



</ion-list>

</ion-content>
