<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Os SImpsons</h2>
      <p> 1989 &nbsp;&nbsp; 12 &nbsp;&nbsp; 682ep</p>
    </div>
  </div>
  <ion-card>
  <ion-item color="medium">
    <div>
      <h2>Sinopse</h2>
      <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. 
        Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. 
        Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. 
        E a pequena Maggie conquista todos enquanto não larga sua chupeta.   </p>
    </div>
  </ion-item>
</ion-card>

<div class="b">
  <ion-button color="danger" size="medium">Assistir</ion-button>
</div>
</ion-content>