<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Grey's Anatomy</h2>
      <p> 2005 &nbsp;&nbsp; 16 &nbsp;&nbsp;16 temp</p>
    </div>
  </div>
<p>
</p>
  <ion-item color="dark">
    <h5>Avaliação dos usuários:</h5>
      <div slot="end" class="c100 p75 small green">
        <span>75%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </ion-item>

    <ion-grid class="let">
      <h5>Elenco da série:</h5>
      <ion-row>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/yPd4G2RcjXQPNWkKUPbWh5v1flC.jpg">
          <p>Ellen Pompeo</p>
        </ion-card>
        </ion-col>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/5hi4tZfMQe5Cw236c7eIFYi0D1F.jpg">
          <p>Sara Ramirez</p>
        </ion-card>
        </ion-col>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/KtmEKOSehmQ35JfGjEjpqlypbP.jpg">
          <p>Kevin McKidd</p>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="let">
      <ion-row>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/5UGtBemc4GPaCWjCwVR3YYmIlzV.jpg">
          <p>Justin Chambers</p>
        </ion-card>
        </ion-col>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/iddDcaysDQ6IVMUjJ97Bv3lTBCu.jpg">
          <p>James Pickens Jr.</p>
        </ion-card>
        </ion-col>
        <ion-col class="prim">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/2PpaYtXdaDmNi3jap4qPIdyVesL.jpg">
          <p>Patrick Dempsey</p>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="b">
      <ion-button color="danger" size="medium">Assistir</ion-button>
    </div>
</ion-content>