<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Vingadores: Guerra Infinita</h2>
      <p> 2018 &nbsp;&nbsp; 13 &nbsp;&nbsp;182min</p>
    </div>
  </div>
<p>

</p>
  <ion-item color="dark">
    <h5>Avaliação dos usuários:</h5>
      <div slot="end" class="c100 p83 small green">
        <span>83%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </ion-item>

  <ion-card>
  <ion-item color="medium">
    <div>
      <h2>Sinopse</h2>
      <p> Homem de Ferro, Thor, Hulk e os Vingadores se unem para combater seu inimigo mais poderoso, o maligno Thanos. 
        Em uma missão para coletar todas as seis pedras infinitas, 
        Thanos planeja usá-las para infligir sua vontade maléfica sobre a realidade.</p>
    </div>
  </ion-item>
</ion-card>
<div class="b">
  <ion-button color="danger" size="medium">Assistir</ion-button>
</div>
</ion-content>
